.days-ahead {
  padding: 0 145px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.data--item {
  display: flex;
  flex-direction: column;
  color: var(--main-text);
  padding-bottom: 30px;
}
.days-ahead-title {
  display: none;
}
.data--item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0.115em;
  margin-bottom: 10px;
}
.data--item-data {
  font-weight: 700;
  font-size: 24px;
  color: var(--primary);
}
.day-ahead--item-date {
  display: block;
  margin-bottom: 60px;
}
@media screen and (max-width: 1640px) {
  .days-ahead {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1296px) {
  .days-ahead {
    padding: 0px;
  }
}
@media screen and (max-width: 1058px) {
  .days-ahead {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
  }
}
@media screen and (max-width: 628px) {
  .days-ahead-title {
    display: flex;
    font-size: 26px;
    color: var(--main-text);
    font-weight: 400;
    letter-spacing: 6px;
  }
  .days-ahead {
    grid-template-columns: repeat(1, 1fr);
  }
  .data--item {
    align-items: center;
  }
  .day-ahead--item-date {
    text-align: center;
  }
}
