@import url(./currentCity.css);
@import url(./daysAhead.css);
.main {
  grid-column: 3 /-1;
}

.main--header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 135px;
  margin-top: 135px;
}
.date--container h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
  color: var(--main-text);
  margin-bottom: 10px;
}
.date--container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--main-text);
}
.day {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.115em;
  margin-bottom: 5px;
}
.date {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.115em;
}
@media screen and (max-width: 1295px) {
  .main {
    grid-column: 1 /-1;
  }
}
