.searchForm {
  position: relative;
  margin-bottom: 24px;
  padding-left: 10px;
}
.searchForm--searchIcon {
  position: absolute;
  margin-left: 10px;
}
.searchForm--input {
  outline: none;
  width: 225px;
  max-width: 100%;
  border: 1px solid transparent;
  background-color: var(--input-background);
  padding: 8px 0;
  padding-left: 30px;
  font-size: 12px;
  border-radius: 4px;
}
.searchForm--label {
  position: absolute;
  color: var(--soft-text);
  font-size: 12px;
  left: 0;
  margin-left: 35px;
}
.searchForm--input:not(placeholder-shown) + .searchForm--label {
  display: none;
}
.searchForm--searchIcon,
.searchForm--label {
  top: 50%;
  transform: translateY(-50%);
}
